
.circulo .imagen   { 
    width:200px;
    height:200px;
    border-radius:100%;
    filter: grayscale(100%);
}

.contenido {
   

}
fsusdrvidydml salen aestudia y con dolor psr stodos tus penas has una cancion proyectos personales 